$margin: 10px;
$transitionSpeed: .33s;

:host {
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    position: fixed;
    height: 0;
    z-index: 100;
}

:host([position~="top"]){
    align-items: flex-start;
    top: 0;
}

:host([position~="bottom"]){
    align-items: flex-end;
    bottom: 0;
}

:host([position~="left"]){
    justify-content: flex-start;
}

:host([position~="right"]){
    justify-content: flex-end;
}

:host([position="bottom"]),
:host([position="top"]){
    justify-content: center;
}

:host([position="left"]),
:host([position="right"]){
    align-items: center;
    top: 50%;
}


#toast__inner {
    transition:
        transform $transitionSpeed cubic-bezier(1, .2, 0, 0);
}

#toast {
    height: 0;
    opacity: 0;
    transform: translate3d(0,0,0);
    transition:
        opacity $transitionSpeed cubic-bezier(0, 0, .2, 1),
        transform $transitionSpeed cubic-bezier(0, 0, .2, 1);

// shown
    &[shown] {
        opacity: 1;
        transform: translate3d(0,0,0) !important;
        transition:
            opacity $transitionSpeed cubic-bezier(1, .2, 0, 0),
            transform $transitionSpeed cubic-bezier(1, .2, 0, 0);


        &[position="left"] #toast__inner,
        &[position="right"] #toast__inner {
            transform: translate3d(0,-50%,0) !important;
        }

        &[position~="bottom"] #toast__inner {
            transform: translate3d(0,-100%,0) !important;
        }

        &[position~="top"] #toast__inner {
            transform: translate3d(0,0,0) !important;
        }
    }


// position
    &[position~="bottom"] {
        margin-bottom: $margin;
    }

    &[position~="left"] {
        margin-left: $margin;
    }

    &[position~="right"] {
        margin-right: $margin;
    }

    &[position~="top"] {
        margin-top: $margin;
    }

    &[position="left"] #toast__inner,
    &[position="right"] #toast__inner {
        transform: translate3d(0, -50%, 0);
    }

    &[position~="bottom"] #toast__inner {
        transform: translate3d(0, -100%, 0);
    }

// slide
    &[type="slide"]{

        &[position="bottom"] #toast__inner {
            transform: translate3d(0,20%,0);
        }

        &[position~="left"] {
            transform: translate3d(-120%,0,0);
        }

        &[position~="right"] {
            transform: translate3d(120%,0,0);
        }

        &[position="top"] #toast__inner {
            transform: translate3d(0,-120%,0);
        }
    }

// scale
    &[type="scale"]{

        &[position~="bottom"]{
            transform: translate3d(0,40px,0) scale3d(0.2,.6,1);
        }

        &[position="left"]{
            transform-origin: 0 50%;
            transform: translate3d(-10%,0, 0) scale3d(0.2,.6,1);
        }

        &[position="right"]{
            transform-origin: 100% 50%;
            transform: translate3d(40px,0, 0) scale3d(0.2,.6,1);
        }

        &[position~="top"]{
            transform: translate3d(0,-40px,0) scale3d(0.2,.6,1);
        }
    }

// flip
    &[type="flip"]{
        perspective: 800px;

        &[position~="bottom"] {
            margin-bottom: 0;

            #toast__inner {
                margin-bottom: 0;
                transform-origin: 50% 100%;
                transform: rotateX(-90deg) translate3d(0,0,0);
            }
        }

        &[position="left"] {
            margin-left: 0;

            #toast__inner {
                transform-origin: 0 50%;
                transform: rotateY(-90deg) translate3d(0, -50%,0);
            }
        }

        &[position="right"] {
            margin-right: 0;

            #toast__inner {
                transform-origin: 100% 50%;
                transform: rotateY(90deg) translate3d(0, -50%,0);
            }
        }

        &[position~="top"] {
            margin-top: 0;

            #toast__inner {
                transform-origin: 50% 0;
                transform: rotateX(90deg) translate3d(0,0,0);
            }
        }
    }
}
